<link rel="stylesheet" type="text/css" media="all" href="../assets/league.css.erb" />

<div id="Recent BBC News">
  <ul>
  <% for entry in FeedEntry.all(:limit => 10, :order => "published_at desc") %>


<div id="breadcrumbs">
</div>
<div class="section-wrapper section-wrapper-primary">
   <div class="section-wrapper-top"></div>
   <div class="section-wrapper-content">
      <div class="section-wrapper-content-wrapper">
         <!-- Silenced -->
         <div class="clearfix">
            <div class="clearfix">
               <div class="float-left">
                  <h3><p> 
    				<li>
     				<%= link_to h(entry.name), entry.url %> 
    				</li>
     				<p></h3>
               </div>
               <div class="float-right">
               </div>
            </div >
            <div class="clearfix showthread-top-buttons">
               <div class="float-left ">
               </div>
               <div class="float-right
                  ">
                  <!-- TOP PAGINATION -->
               </div>
            </div>
         </div>
         <!-- Posts --> 
         <div id="edit14220820" class="margin-top-15">
            <div class="content-border sca_not_agree" id="post14220820">
               <div class="white-stone post-row">
                  <div class="gs-container gs-no-gutter">
                     <div class="default-1-5">
                        <div class="post-col-left">
                           <!-- something on the left -->
                        </div>
                     </div>
                     <div class="default-4-5">
                        <div class="post-col-right">
                           <div class="post-header padding-side-10 clearfix">
                              <!-- Post Date -->
                              <p class="post-user"><h4> <%= entry.summary %> </h4></p>
                              <span>
                                 <p><%= time_ago_in_words entry.published_at %> ago </p>
                              </span>
                              <!-- Riot Post -->
                           </div>
                           <hr class="subtle-divider">
                           <div class="post-message">
                               <li>
     				<%= link_to h(entry.name), entry.url %> 
    				</li>
  				 
                           </div>
                          
                           <!-- Post Footer -->
                           <div class="post-footer padding-side-10 clearfix">
                              <!-- Post Ranking -->
                              <div class="post-footer-buttons">
                              </div>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
         <!--div id="lastpost" class="post_separator"></div-->
         <div class="margin-top-15 clearfix">
            <div class="float-left">
            </div>
            <div class="float-right"></div>
            <!-- BOTTOM PAGINATION -->
         </div>
         <!-- QUICK REPLY JS -->
         <!-- QUICK REPLY -->
         <!-- NEXT / PREVIOUS LINKS -->
         <!-- / next / previous links -->
      </div>
   </div>

 <div class="section-wrapper-bottom"></div>
</div>
   <% end %>



  </ul>
</div>

